html,body{
    background-color: #212121;
    color:#FFFFFF;
    padding: 60px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
} 

.button{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    background-color: #efe175e5;
    color:#212121;
    height: 45px;
    width: 120px;
    border-radius: 25px;
    font-weight: bold;
    margin-top: 18px;
}